.socialMediaIcon {
    color: var(--secondary-text-color);
    background-color: transparent;
}


.socialMediaIconLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-inline-size: 2rem;
    min-block-size: 2rem;
    border-bottom: none;
    font-weight: 400;
}
