
main {
    max-inline-size: var(--container-inline-size);
    margin-inline: auto;
    padding-inline: 1rem;
}

main {
    margin-block-end: 2rem;
}

@media only screen and (max-width: 750px) {
    main {
        margin-block-start: var(--header-block-size);
    }

    .headerAndMain.mobileMenuOpen main {
        min-block-size: calc(100vh - var(--header-block-size));
        margin-block-end: 0;
    }

    .mobileMenuOpen .outlet, .mobileMenuOpen + .footer {
        display: none;
    }
}