@media only screen and (min-width: 751px) {
    .navigationMenu {
        inline-size: 100%;
    }

    .coreMenu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 1.75rem;
        list-style-type: none;
        font-size: var(--font-size-md);
        font-weight: 600;
        margin-block: 0.75rem;
        padding-inline: 1rem;
    }

    .mobileMenuOnly {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .navigationMenuHeadings {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        font-size: var(--font-size-xl3);
        font-weight: 800;
        overflow-wrap: break-word;
        padding-inline-start: 5%;
        margin-block: 0;
        min-block-size: 100%;
        row-gap: 0.25rem;
    }

    .navigationMenuHeadings li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding-block: 1rem;
        animation: fadeIn .5s ease-out;

    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .coreMenu {
        min-block-size: calc(100vh - var(--header-block-size) - 10rem);
    }

    .mobileMenuOnly {
        display: flex;
        flex-direction: column;
        font-size: smaller;
        min-block-size: auto;
    }

    .actionLink.active { 
        border-bottom-width: 0.5rem;
    }

    .navigationStatus {
        display: block;
        margin-block-start: 0.2rem;
        color: #52505a;
        font-size: 0.8rem;
        font-weight: 500;
    }
}

.navigationStatus {
    color: #52505a;
    font-size: 0.75rem;
    font-weight: 500;
}

@media (prefers-reduced-motion: reduce) {
    .navigationMenuHeadings li {
        animation: none;
    }
}
