#header {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
}

.topRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    inline-size: 100%;
    max-inline-size: var(--container-inline-size);
    margin-inline: auto;
    margin-block: 1rem;
}

.actionSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
}

.actionLink:visited {
    color: inherit;
}

.actionLink:hover, .actionLink:active {
    color: var(--action-background-color);
}

.actionLink.active { 
    border-bottom: 3px solid var(--action-background-color);
    /* text-decoration: underline solid var(--action-background-color) 0.1rem; */
}

.languageLink {
    font-weight: 500;
    font-size: var(--font-size-md);
}

.mobileMenuTrigger {
    display: none;
}

.bottomRow {
    background-color: var(--spectrum-gray);
}

.bottomRowContent {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    max-inline-size: var(--container-inline-size);
    margin-inline: auto;
}

.navigationMenu {
    inline-size: 100%;
}

.navigationMenuHeadings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2rem;
    list-style-type: none;
    font-size: var(--font-size-md);
    font-weight: 600;
    margin-block: 0.75rem;
    padding-inline: 0;
}

@media only screen and (max-width: 750px) {
    .bottomRow {
        display: none;
    }

    .mobileMenuTrigger {
        display: block;
        border: none;
        background: transparent;
        margin-inline-end: 0.5rem;
        cursor: pointer;
    }

    .mobileMenuTriggerIcon {
        font-size: 1.25rem;
    }
}