#header {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: var(--primary-background-color);
    inline-size: 100%;
    inset-block-start: 0;
    block-size: 60px;
}

.navigationMenu {
    flex: 70%;
}

.navigationMenuHeadings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: var(--font-size-md);
    font-weight: 600;
}

.actionLink {
    text-decoration: none;
}

.actionLink:visited {
    color: inherit;
}

.actionLink:hover, .actionLink:active {
    color: var(--action-background-color);
}

.languageLink {
    font-weight: 500;
    font-size: var(--font-size-md);
}

.actionSection {
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actionButton {
    cursor: pointer;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    font-size: var(--font-size-lg);
    font-weight: 700;
    border-style: none;

    background-color: var(--action-background-color);
    color: var(--action-text-color);
    border-color: var(--action-background-color);
}

.actionButton:hover {
    background-color: var(--action-background-hover-color);
    color: var(--action-text-hover-color);
    border-color: var(--action-background-hover-color);
}
