.formField {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    font-size: var(--font-size-xl2);
}

.formField + .formField {
    margin-block-start: 0.5rem;
}

.formField label:after {
    content: "*";
    color: var(--form-error);
}

.submitButton {
    margin-block-start: 1rem;
}

.postSubmitMessage {
  padding-inline: 20%;
  padding-block-start: 10vh;
  text-align: center;
}

fieldset:valid {
  color: blue;
}

  
.formField input, .formField textarea {
    font-size: var(--font-size-base);
    border: 0;
    border-bottom: 0.2rem solid var(--form-gray);
}
  
.formField input:valid, .formField textarea:valid {
  border-bottom: 0.2rem solid var(--action-background-color);
}