.formField {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    font-size: var(--font-size-xl2);
}

.formField + .formField {
    margin-block-start: 0.5rem;
}

.formField label:after {
    content: "*";
    color: var(--form-error);
}

.submitButton {
    margin-block-start: 1rem;
}

.postSubmitMessage {
  padding-inline: 20%;
  padding-block-start: 2rem;
  text-align: center;
}

.postSubmitMessageTitle {
  color: var(--action-background-color);
  font-weight: 800;
}
