.footer {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    padding-inline: 2.5%;
    box-sizing: border-box;
    block-size: 6.375rem;
    justify-content: space-between;
}

.footerInfo {
    flex: 1;
    inline-size: auto;
    justify-content: space-between;
}


.footerLink {
    color: var(--secondary-text-color);
    font-weight: 500;
    max-inline-size: 14rem;
}

.footerLink:hover {
    text-decoration: solid underline var(--action-background-color) 3px;
}

.footer, .footerInfo, .footerLinks {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

.footerMobileLogo {
    display: none;
}

@media only screen and (min-width: 751px) {
    .footerDesktopLogo {
        flex: 0 0 100px;
    }
}

@media only screen and (max-width: 750px) {
    .footerDesktopLogo {
        display: none;
    }

    .footer {
        padding-inline: 10%;
        min-block-size: 10rem;
    }

    .footerInfo {
        justify-content: center;
        row-gap: 0.5rem;
        inline-size: 100%;
        block-size: 100%;
        flex: none;
    }

    .footerMobileLogo {
        display: block;
    }

    .footerInfo {
        flex-direction: column;
    }

    .footerLink:first-child {
        text-align: start;
    }

    .footerLink:last-child {
        text-align: end;
    }
}

@media only screen and (max-width: 520px) {
    .footer {
        block-size: fit-content;
        padding-block: 1rem;
    }

    .footerLinks {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footerLinks > .footerLink {
        text-align: center;
    }
}
