.actionButton {
    cursor: pointer;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    font-family: Arial;
    font-size: var(--font-size-xl1);
    font-weight: 700;
    border-style: none;
}

.actionButton.primary {
    background-color: var(--action-background-color);
    color: var(--action-text-color);
    border: 2px solid var(--action-background-color);
}

.actionButton.secondary {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
}

.actionButton:hover {
    background-color: var(--action-background-hover-color);
    color: var(--action-text-hover-color);
    border-color: var(--action-background-hover-color);
}

.actionButton:disabled {
    background-color: var(--action-background-disabled-color);
    color: var(--primary-text-color);
    border-color: var(--action-background-disabled-color);
    cursor: not-allowed;
    pointer-events: all;
}

.loading > .actionButtonLabel {
    visibility: hidden;
    display: block;
    block-size: 0;
}