#root {
  --font-size-tiny: 0.75rem;  /* 12px */
  --font-size-sm: 0.875rem;   /* 14px */
  --font-size-base: 1rem;     /* 16px, base */
  --font-size-md: 1.125rem;   /* 18px */
  --font-size-lg: 1.25rem;    /* 20px */
  --font-size-xl: 1.5rem;     /* 24px */
  --font-size-xxl: 1.75rem;   /* 28px */
  --font-size-xxxl: 2rem;     /* 32px */
  --font-size-xxxxl: 2.25rem; /* 36px */

  --container-inline-size: 1170px;

  --spectrum-blue: #1FA8DD;
  --spectrum-orange: #F59B4A;
  --spectrum-yellow: #DCC63F;
  --spectrum-green: #97C265;
  --spectrum-purple: #B765AC;
  --spectrum-pink: #E367A3;
  --spectrum-red: #F0787E;
  --spectrum-magenta: #E11584;

  --primary-background-color: #FFF;
  --primary-text-color: #000;
  --secondary-background-color: #000;
  --secondary-text-color: #FFF;

  --action-background-color: var(--spectrum-magenta);
  --action-background-hover-color: var(--spectrum-pink);
  --action-text-color: white;
  --action-text-hover-color: white;
 
}

html {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-size: var(--font-size-base);
  text-align: center;
}

main {
  min-block-size: calc(100vh - 158px);
  max-inline-size: var(--container-inline-size);
  margin-inline: auto;
}

body {
  margin-block: 0;
}

.screenreader-only {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* h1 {
  
}

h2 {

} */

@media only screen and (min-width: 667px) {
  #root {
    --container-inline-size: 630px;
  }
}

@media only screen and (min-width: 768px) {
  #root {
    --container-inline-size: 730px;
  }
}

@media only screen and (min-width: 992px) {
  #root {
    --container-inline-size: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  #root {
    --container-inline-size: 1170px;
  }
}

@media only screen and (min-width: 1440px) {
  #root {
    --container-inline-size: 1400px;
  }
}