#root {
  --font-size-tiny: 0.75rem;   /* 12px */
  --font-size-sm: 0.875rem;    /* 14px */
  --font-size-base: 1rem;      /* 16px, base */
  --font-size-md: 1.125rem;    /* 18px */
  --font-size-xl1: 1.25rem;    /* 20px */
  --font-size-xl2: 1.3125rem;  /* 21px */
  --font-size-xl3: 2rem;       /* 32px */
  --font-size-xl4: 3rem;       /* 48px */

  --container-inline-size: 1140px;
  --header-block-size: 82px;

  --spectrum-gray: #f6f6f6;
  --spectrum-blue: #1FA8DD;
  --spectrum-orange: #F59B4A;
  --spectrum-yellow: #DCC63F;
  --spectrum-green: #97C265;
  --spectrum-purple: #B765AC;
  --spectrum-pink: #E367A3;
  --spectrum-red: #F0787E;
  --spectrum-magenta: #E11584;
  --spectrum-green-2: #50C878;
  --form-gray: #4C4E52;
  --form-error: #FF0000;

  --primary-background-color: #FFF;
  --primary-text-color: #000;
  --secondary-background-color: #000;
  --secondary-text-color: #FFF;

  --action-background-color: var(--spectrum-magenta);
  --action-background-hover-color: var(--spectrum-green-2);
  --action-text-color: #FFF;
  --action-text-hover-color: #FFF;

  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  word-break: break-word;

  font-size: var(--font-size-base);
}

body {
  margin-inline: 0;
  margin-block: 0;
}

.hidden {
  display: none;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.a:visited {
  color: inherit;
}

.actionLink:hover, .actionLink:active {
  color: var(--action-background-color);
}

.actionLink.active { 
  border-bottom: 3px solid var(--action-background-color);
  /* text-decoration: underline solid var(--action-background-color) 0.1rem; */
}

a[href]:not(:where(
  .socialMediaIconLink,
  .logoLink,
  .actionLink,
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//spectrumofstrengths.org"],
  /* Only for local testing */
  [href*="//localhost:5173"]
)) {
  border-bottom: solid 3px var(--action-background-color);
  font-weight: 600;

  &:hover {
    background-color: var(--action-background-color);
  }

  &:after {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-inline-start: 0.25rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16::after' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}

h1 {
  font-size: var(--font-size-xl4);
}

h2 {
  font-size: var(--font-size-xl3);
}

h3, p, legend, label {
  font-size: var(--font-size-xl2);
}

@media (prefers-reduced-motion) {
  html {
    animation: none !important;
    transition: none !important;
  }
}